<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="lib/vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- <input type="text" v-model="firstName" @keyup="getFullName">
        <input type="text" v-model="lastName" @keyup="getFullName">
        <input type="text" v-model="fullName"> -->

        <input type="text" v-model="firstName">
        <input type="text" v-model="lastName">
        <input type="text" v-model="fullName">
    </div>

    <script>
        var vm = new Vue({
            el: "#app",
            data:{
                firstName:"",
                lastName:"",
                fullName:"",

            },
            methods: {
                // getFullName(){
                //     this.fullName = this.firstName + this.lastName
                // }
            },
            watch: { //使用这个方法可以监听到data数据中的变化, 然后触发函数
                "firstName": function(newVal) {
                    this.fullName = newVal + this.lastName
                },
                "lastName": function(newVal) {
                    this.fullName =  this.firstName + newVal
                }
            },
        })        
    </script>

</body>
</html>